body{
    background: #eceff1;
    padding: 10px;
}
a img:hover{
    color: #0f0f0f;
    filter: invert(35%);
}
img {
    margin: 0 10px 0 3px;
}
a span{
    font-size: 14px;
    font-family: "Arial";
    color: rgb(127, 140, 141);
}
