.wrap{
	/*position: relative;*/
	width: 400px;
	height: 300px;
	background-image: url("../images/background.png");
}
.menu{
	top:30px;
	margin: auto;
	position: relative;
	width: 200px;
	height: 246px;
	border-radius: 4%;
	border-style: solid;
  	border-width: 2px;
	border-color:  #25272b;
	box-shadow: 1px 1px 12px #37393e ;
}
.menu label{
		font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;/* тип курсоса при наведении на обьект*/
	color: #fff;
	font-size: 19px;
	background: linear-gradient(to top,#40424b,#4b4e58);
}
.menu label:hover{
	background: #000;/*добавить треугольники*/
}
 #submenu  {
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 5px 20px;
	position: relative;
	display: block;
	height: 30px;
	cursor: pointer;/* тип курсоса при наведении на обьект*/
	color: #fff;
	font-size: 19px;
	background: #33353b;
}
/*/*изменение стиля по выбору чекбокса и наведении на него
.menu input:checked + label,
.menur input:checked + label:hover{
background: #33353b;
}*/

/*Прячем инпуты*/
.menu input{
	display: none;
}
/*
.home,.gallery,.logout{
	background: linear-gradient(to top,#40424b,#4b4e58);

}
.photos,.iCloud{
	background: #33353b;
}
.photo_stream{
	background: linear-gradient(to top,#2d4ac3,#3a60d1);
}
.img{
	width: 10px;
	height: 10px;
	top: -15px;
}*/
/*.menu input:checked ~ article{
	transition: 
		height 0.5s ease-in-out, 
		box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}*/
/*.menu article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}*/
.menu input:checked ~ article, label{
	transition: 
		height 0.5s ease-in-out, 
		box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.menu article label {
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	transition: 
		height 0.3s ease-in-out, 
		box-shadow 0.6s linear;
}
.menu input:checked ~ article label .photos{
	height: 40px;
}
.menu input:checked ~ article label .photo_stream{
	height: 40px;
}
.menu input:checked ~ article label .iCloud{
	height: 40px;
}
