*{ margin: 0px;	padding: 0px;}
.wrap{
	width: 400px;
	height: 300px;
	background-image: url("../images/background.png");
}
.menu{
   top:30px;padding: 0px 0 0 0;
	margin: auto;
	position: relative;
	width: 200px; height: 224px;
	border-radius: 5%;
	border: solid 1px #25272b;
	box-shadow: 0 1px 1px 1px #37393e ;
	background: linear-gradient(to top,#40424b,#4b4e58);
}
.menu label { 
	border-bottom: 1px solid #25272b;
	box-shadow: 0px 1px 1px #37393e ;
    font-family:'Arial ';
  	position: relative;
	display: block;
	height: 37px;
	cursor: pointer;
	color: #d1d4e1;
	font-size: 16px;
	background: linear-gradient(to top,#40424b,#4b4e58);
}
.menu input{
    display: none;
}
.menu input:checked ~ #submenu {
    transition: height 0.5s ease-in-out, box-shadow 0.6s linear;
    height: 37px;
}
#submenu {
 	border-bottom: 1px solid #3a3d41;
    background: #33353b;
    height: 0px;
    border-bottom: none;
    transition: height 0.5s ease-in-out, box-shadow 0.6s linear;
   }
#submenu:hover{
	background: linear-gradient(to top,#2d4ac3,#3a60d1);
}
img{
	padding:  5px 10px;
}
.notification{
	margin:  10px 0px;
	float: right;
}
label#submenu{
	box-shadow: 0px 0px 2px 0px #1c1e23;
}
 #submenu{
	padding: 0px 0 0 10px;
}
.triangle{
	content: '';
	position: absolute;
	right: 10px; top: 15px;
	border: 6px solid transparent;
	border-top: 6px solid #2c2c2c;
	filter:  drop-shadow( 0px -1px 0px #5c5c5c);
}
.triangle:active{
	content: '';
	position: absolute;
	right: 10px;
	top: 13px;
	border: 7px solid transparent;
	border-bottom: 7px solid #2c2c2c;
	filter:  drop-shadow( 0px -1px 0px #5c5c5c);
}