*{
	margin: 0px; padding: 0px;
}
.wrap{
  width: 100%;
  height: 630px;
  background: linear-gradient(to top, #f8f7f6, #dedad8);
}
.container{
  width: 450px; height: 450px;
  position: absolute;
  left:25%;
  top: 220px;
}
.circle {
  border-radius: 50%;
  background-color: #e54040;
  box-shadow: inset 1px 0px 5px 1px #b33333;
  width: 42px; height: 42px;
}
.cart{
  margin: 12px;
}
.shopping_cart:hover  .cart_box {
  opacity:1;
  visibility:visible;
  position:absolute;
}
.shopping_cart{
  display:inline-block;
  z-index:0;
  position: relative;
  left: 305px;
  top: 42px;
  width: 42px; height: 42px;
  }
.cart_box{
  opacity:0;
  visibility: hidden;
  transition:opacity 1s;
  border: 1px solid #cbcbcb;
  background-color: #fff;
  margin: auto;
  top: 70px;
  left: -110px;
  width: 250px; height: 159px;
  border-radius: 5%;
  box-shadow: 0 0 1px 2px rgba(221, 221, 221, 1);
}
.cart_box:hover {
  overflow:visible;
}
.cart_box::before {
  content: '';
  position: absolute;
  left: 115px;
  top: -28px;
  border: 15px solid transparent;
  border-bottom: 20px solid #fafafa;
  filter: drop-shadow(0px -1px 2px rgba(0,0,0,0.3));
}
.upper-block {
  background: linear-gradient(to bottom, #f8f7f6, #ebe7e5);
  box-shadow: 0px 1px 0px 0px rgba(203, 203, 203, 0.8),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.75);
  position: absolute;
  width: 250px; height: 45px;
  border-radius: 6% 6% 0 0 ;
}
.center-block{
  width: 224px; height: 100px;
  top: 50px;
}
.fade_line{
  height: 1px;
  background: linear-gradient(to right, #fff, #dfdfdf, #fff);
}
.items-text, .amount-text{
  margin: 15px;
  color: #747474;
}
.items-text{
  float: left;
  }
.amount-text{
  float: right;
}
.amount {
  font-size: 20px;
  font-family: "Arial";
  color: #e54040;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top:60px;
 }
.items-quantity {
  font-size: 20px;
  font-family: "Arial";
  color: #4d4d4d;
  font-weight: bold;
  position: absolute;
  top:60px;
  left: 17px;
}
.lower-block{
  margin: 0px;
  width: inherit;
  height: 50px;
}
.view_cart{
  /*color: #e54040;*/
  width: 80px;
  margin: 15px;
  position: absolute;
  text-decoration: underline;
}
a{
  text-decoration: none;
  font-size: 14px;
  color: white;
  font-family: "Rockwell";
}
 .view_cart_a{
  color: #e54040;
}
.checkout_box{
  top:0px; margin: 10px;
  width: 80px; height: 25px;
  background: linear-gradient(to bottom, #ef5858, #d62727);
  border-radius: 6%;
  float: right;
  border: 2px solid #d35050;
  text-align: center;
  line-height: 23px;
  text-shadow: 0px -1px 0px #c63e3e;
}











