*{
	outline: 0; padding: 0;
	margin: 0; border: 0;
 }
body {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	min-width: 780px;
}
.wrap{
    position: relative;
}
a{
	text-decoration: none;
	color: black;
}
a:hover .text-block{
	height: 50px;
	white-space: normal;
}
.upper-container,.lower-container{
    background: #f5f1e6;
	border-bottom: 1px solid grey;
  }
.upper-container{
	padding-bottom: 70px;
 }
.lower-container {
	padding-top: 70px;
}
.block{
	width: 250px;
	height: 270px;
	border:1px solid grey;
	background: #f0e9d3;
}
.upper-left{
    float: left;
}
.upper-center{
    margin: 0 auto;
	}
.upper-right{
    position: absolute;
    right:0;
    top: 0;
}
.lower-left{
	float: left;
}
.lower-center{
	margin: 0 auto;
	}
.lower-right{
    position: absolute;
    right:0;
    bottom: 0;
}
.text-block{
	width: 249px;
	height: 19px;
	background: white;
	overflow: hidden;
	border:1px solid grey;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.inner-block{
	margin: 15px;
	background: #4f4949;
	width: 220px;
	height: 220px;
}


