*{
	outline: 0; padding: 0;
	margin: 0; border: 0;
 }
body{
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	width:100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: black;
}
a:hover .text-block{
	height: 50px;
	white-space: normal;
}
.upper-container,.lower-container{
    background: #f5f1e6;
	border-bottom: 1px solid grey;
  }
.upper-container{
	padding-bottom: 200px;
}
.lower-container {
	padding-top: 200px;
}
.block{
	width: 250px;
	height: 270px;
	border:1px solid grey;
	background: #f0e9d3;
	display: inline-block;
}
.upper-left{
	float: left;
}
.upper-center{
	margin-left: 300px;
}
.upper-right{
	float: right;
}
.lower-left{
	float: left;
}
.lower-center{
	margin-left: 300px;
	}
.lower-right{
	float: right;
}
.text-block{
	width: 249px;
	height: 19px;
	background: white;
	overflow: hidden;
	border:1px solid grey;
	white-space: nowrap;
}
.inner-block{
	margin: 15px;
	background: #4f4949;
	width: 220px;
	height: 220px;
}


