*{
	margin: 0;
	padding: 0;
}
body{
width: 100%;
height: 100%;
}
.forms{
position: relative;
width: 650px;
height: 550px;
background-image: url("../images/noise.png");
margin: auto;
}
.data{
	position: relative;
	width: 300px;
	height: 250px;
  left: 190px;
  top: 135px;
}
form{
	width: 300px;
	height: 200px;
	position: absolute;
  border-bottom: 1px solid #c2c3c2;
  box-shadow: 0 1.5px white;
}
.text{
  font-size: 15px;
  font-family: "HelveticaLT";
  color: #d0d1d1;
  text-align: left;
  text-shadow: 0px 1px 0px #e5e6e6;
}
 hr {
  border: none; /* Убираем границу для браузера Firefox */
  color: grey; /* Цвет линии для остальных браузеров */
  background-color: #cccccc; /* Цвет линии для браузера Firefox и Opera */
  height: 2px; /* Толщина линии */
}
#login_Here {
  background-color:transparent;
  outline: none; border: none;
  font-size: 30px;
  font-family: "Arial Narrow";
  color: #7c7c7c;
  line-height: 2.2;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
}
.login_Here{
  margin: 15px 0;
  height: 50px;
  border-bottom: 1px solid #898b8a;
  box-shadow: 0 1.5px white;
}
 #field{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224, 227, 227);
  background-image: -moz-linear-gradient( 90deg, #f0f1f1 0%, #f0f1f1 100%);
  background-image: -webkit-linear-gradient( 90deg, #f0f1f1 0%, r#f0f1f1 100%);
  background-image: -ms-linear-gradient( 90deg, #f0f1f1 0%, #f0f1f1 100%);
  box-shadow: 0px 2px 0px 0px rgba(206, 208, 208, 0.004);
  width: 300px;
  height: 31px;
  z-index: 36;
  }
#checkbox{
  background-color: rgb(232, 233, 233);
  box-shadow: inset 1px 0.866px 0.85px 0.15px rgba(0, 0, 0, 0.25);
}
 label{
	width: 80px;
  font-size: 12px;
  font-family: "HelveticaLT";
  color: #7c7c7c;
  text-shadow: 0px 1px 0px #f7f8f8;
}
 .icon{
  position: absolute;
  left: 120px;
  top: 160px;
}
 h1{
  font-size: 15px;
  font-family: "Calibri";
  color: #999999;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
}
 #submit, #reset {
  width: 65px;
  height:30px;
 margin: 0 0px 0 10px;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: #E0E3E3;
  background-image: -moz-linear-gradient( 90deg, rgb(220,221,223) 0%, rgb(241,241,241) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(220,221,223) 0%, rgb(241,241,241) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(220,221,223) 0%, rgb(241,241,241) 100%);
  box-shadow: 0px 2px 0px 0px rgba(206, 208, 208, 0.004);
  right: 0px;
  color: #7c7c7c;
}
#reset {
 right: 60px;
}
.google, .facebook, .twitter{
  margin: 0 10px 0 0;
  width: 9px;
  height: 15px;
}
#social{
  width: 55px;
  height: 30px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
