*{
    padding: 0;
    margin: 0;
  }
body{
    min-width: 600px;
    min-height: 300px;
}
div{
    display: block;
}
.wrapper{
    width: 100%;
    height: 100%;
    min-width: 600px;
    min-height: 300px;
}
.header{
    height: 60px;
    border: 3px solid #db8650;
  }
.layout{
    margin-top: 15px;
    position: absolute;
    width: 100% ;
    background: url("images/bg_line.gif" ) repeat-y;
    height: 100%;
}
.sidebar {
    float: left;
    width: 193px;
    position: relative;
}
.c_bl{
    left: 0; bottom: 0;
    position: absolute;
    margin: 0 0 49px -3px;
}
.c_r{
    margin-top: 5px;
    position: absolute;
    right: 0px;
    }
.c_r_2{
    margin-top: -25px;
    float: right;
    bottom: 0;
  }
.bg_line3{
    position: absolute;
    padding: 0px 0 0 0 ;
    background: url("images/bg_line3.gif" ) repeat-x;
    width: 100%;height: 70%;

 }
.bg_line3_2{
    margin: 0 0 9px 0;
    position: absolute;
    bottom: 0;
    height: 60px;

}
.bg_line2ie {
    position: absolute;
    margin: 2px 0px 0 0;
    background: url("images/bg_line2ie.gif") repeat-y;
    width: 23px;
height: calc(100% - 110px);
    right: 0;
    top: 53px;
}
.footer{
    position: absolute;
    width: 100%;
    background-color: #fff;
    left: 0; bottom: -20px;
    border: solid 3px #a17d98;
    height: 50px;
}
