body{
  width: 600px;
  height: 100%;
	margin: 0px;
  min-width: 600px;
}
.header, .sidebar, .content, .footer { 
/*	border: solid 1px #000; */
      }
    .header{
    	width: 375px;
    	height: 20px;
    	padding: 20px; 
		border: solid 3px #eb961e; 
		 margin: 0px 0px 10px; /* Отступы сверху и снизу */ 
    }
    .footer{
    	width: 375px;
    	margin: 10px 0 0 0 ;
    	 padding: 20px; /* Поля */
    	 border: solid 3px #a17d98; 
    	 height: 10px;
    }
    .layout {
    margin: 0px 0; /* Отступы сверху и снизу */ 
    width: 420px;
    min-width: 400px;  
    max-width: 1200px; 
   }
   .sidebar { 
    width: 142px; 
    float: left; 
    height: 290px;
    position: relative;
   
   }
   .content { /* Основное содержание страницы */
    margin-left: 142px; /* Отступ слева */
    height: 290px;
    position: relative;
     }
 	#c_bl{
   	position: absolute;
   	bottom: -9px;
   }
    #c_tl{
   	position: absolute;
   	float: left;
   	top:-1px;
   }
    #bg_line3{
   	position: absolute;
   	top: 0px;
   	left: 32px;
   }
    #bg_line3_2{
   	position: absolute;
   	bottom: -1px;
   	left: 32px;
   		-moz-transform: scaleY(-1);
     -o-transform: scaleY(-1);
-webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
    -ms-filter: "FlipV";
   }
       #bg_line3_3{
   	position: absolute;
  	top: 4px;
   	right: 48px;
   	-moz-transform: scaleY(-1);
     -o-transform: scaleY(-1);
-webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
    -ms-filter: "FlipV";
   }
   #bg_line3_4{
   	position: absolute;
  	bottom: 2px;
   	right: 50px;
   }
     #bg_line3_5{
   	position: absolute;
  	bottom: 18px;
   	right: 1px;
   }
    #c_r{
   	position: absolute;
  	right:0px;
  	top: 3px;
   }
    #c_r_2{
   	position: absolute;
  	right: 2px;
  	bottom: 0px;
   }
    #bg_line2ie{
   	position: absolute;
  	right: -1px;
  	top: 53px;
   }
       #bg_line2ie_2{
   	position: absolute;
  	right: -1px;
  	bottom: 47px;
  	 -moz-transform: scaleY(-1);
     -o-transform: scaleY(-1);
-webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
    -ms-filter: "FlipV";
   }
          #bg_line{
          	position: absolute;
    top: 49px;
    width: 162px;
    height: 190px;
  	  }